@font-face {
    font-family: 'MiSans-Bold';
    src: url("./MiSans-Bold.ttf")
}

@font-face {
    font-family: 'MiSans-Regular';
    src: url("./MiSans-Regular.ttf")
}

@font-face {
    font-family: 'MiSans-DemiBold';
    src: url("./MiSans-Demibold.ttf")
}

@font-face {
    font-family: 'MiSans-Light';
    src: url("./MiSans-Light.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("./Poppins-SemiBold.ttf");
}
